* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contact {
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    gap: 2rem;
}

p {
    text-align: center;
    line-height: 2rem;
}

@media screen and (max-width: 768px) {

    h1 {
        font-size: 2.5rem;
    }

    .contact {
        margin-top: 10rem;
    }

    .contact p {
        font-size: 0.7rem;
        line-height: 1.3rem;
    }

}